.site-branding {
  margin-bottom: 32px;
  @media(max-width:992px){
    margin-bottom: 0;
  }
}
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
  .site-navigation {
    ul.menu {
      li {
        a {
          font-family: $f_Roboto;
          font-size: 12px;
          font-weight: 400;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
.city-province-menu {
  p {
    margin-bottom: 0;
  }
  ul {
    margin-bottom: 16px;
    li {
      list-style: none;
    }
  }
}
.footer-col-center {
  div {
    @media (max-width: 992px) {
      border-left: 0 !important;
    }
    a {
      color: #fff;
    }
  }
}
.footer-address {
  @media (max-width: 992px) {
    text-align: center !important;
  }
}
.footer-flex-box {
  > div {
    @media (max-width: 992px) {
      justify-content: space-around;
    }
  }
  .footer-col-left {
    > div {
      @media (max-width: 576px) {
        padding-right: 0 !important;
      }
    }
    @media (max-width: 992px) {
      margin-bottom: 32px;
    }
  }
  .footer-col-right {
    > div {
      @media (max-width: 576px) {
        border-left: 0 !important;
      }
    }
  }
}
.r-v-offices {
  > div {
    @media (max-width: 992px) {
      justify-content: space-around;
    }
  }
}
.site-navigation-toggle-holder {
  @media (max-width: 992px) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
  }
}
