.site-branding {
  margin-bottom: 32px;
}
.site-header {
  padding-top: 24x;
  padding-bottom: 24px;  
  .site-navigation {
    ul.menu {
      li {
        a {          
          padding-top: 0;
          padding-bottom: 0;          
        }
      }
    }
  }
}
