.site-branding {
  margin-bottom: 32px;
}
.site-header {
  padding-top: 24x;
  padding-bottom: 24px;
  .site-navigation {
    ul.menu {
      li {
        a {
          font-family: $f_Roboto;
          font-size: 12px;
          font-weight: 400;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}
.city-province-menu {
  ul {
    li {
      list-style: none;
    }
  }
}
footer {
  display: flex;  
  background-color: $secondary_color;
  color: #fff;   
  @media(max-width:576px){
    flex-direction: column;
    row-gap: 32px;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }  
  .col-logo {
    width: 40%;          
    a {        
      .logo-footer {
        width: 288px;
      }
    }
  }
  .col-white{
    border-left: 1px solid #fff;
    height: 190px;
    @media(max-width:576px){
      display: none;
    }
  }
  .col-card{
    width: 30%;  
    display: flex;
    align-items: center;
    justify-content: center;       
  }
  .col-contact{
    width: 30%;
    text-align: right;
    @media(max-width:576px){
      text-align: center ;
    }
    .contact-footer{
      display: inline-block;
      padding: 4px;
      background-color: #fff;
      color: $secondary_color;
    } 
    .address-phone-footer{      
      p{
        margin-bottom: 0;
      }
    }    
  }
  >div{
    @media(max-width:576px){
      width: 100% !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
