@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.mb-1 {
  margin-bottom: 8px;
}

.mt-1 {
  margin-top: 8px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pt-1 {
  padding-top: 8px;
}

.ps-1 {
  padding-left: 8px;
}

.pe-1 {
  padding-right: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mt-2 {
  margin-top: 16px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pt-2 {
  padding-top: 16px;
}

.ps-2 {
  padding-left: 16px;
}

.pe-2 {
  padding-right: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mt-3 {
  margin-top: 24px;
}

.pb-3 {
  padding-bottom: 24px;
}

.pt-3 {
  padding-top: 24px;
}

.ps-3 {
  padding-left: 24px;
}

.pe-3 {
  padding-right: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mt-4 {
  margin-top: 32px;
}

.pb-4 {
  padding-bottom: 32px;
}

.pt-4 {
  padding-top: 32px;
}

.ps-4 {
  padding-left: 32px;
}

.pe-4 {
  padding-right: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mt-5 {
  margin-top: 40px;
}

.pb-5 {
  padding-bottom: 40px;
}

.pt-5 {
  padding-top: 40px;
}

.ps-5 {
  padding-left: 40px;
}

.pe-5 {
  padding-right: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mt-6 {
  margin-top: 48px;
}

.pb-6 {
  padding-bottom: 48px;
}

.pt-6 {
  padding-top: 48px;
}

.ps-6 {
  padding-left: 48px;
}

.pe-6 {
  padding-right: 48px;
}

.mb-7 {
  margin-bottom: 56px;
}

.mt-7 {
  margin-top: 56px;
}

.pb-7 {
  padding-bottom: 56px;
}

.pt-7 {
  padding-top: 56px;
}

.ps-7 {
  padding-left: 56px;
}

.pe-7 {
  padding-right: 56px;
}

.mb-8 {
  margin-bottom: 64px;
}

.mt-8 {
  margin-top: 64px;
}

.pb-8 {
  padding-bottom: 64px;
}

.pt-8 {
  padding-top: 64px;
}

.ps-8 {
  padding-left: 64px;
}

.pe-8 {
  padding-right: 64px;
}

.mb-9 {
  margin-bottom: 72px;
}

.mt-9 {
  margin-top: 72px;
}

.pb-9 {
  padding-bottom: 72px;
}

.pt-9 {
  padding-top: 72px;
}

.ps-9 {
  padding-left: 72px;
}

.pe-9 {
  padding-right: 72px;
}

.mb-10 {
  margin-bottom: 80px;
}

.mt-10 {
  margin-top: 80px;
}

.pb-10 {
  padding-bottom: 80px;
}

.pt-10 {
  padding-top: 80px;
}

.ps-10 {
  padding-left: 80px;
}

.pe-10 {
  padding-right: 80px;
}

.mb-11 {
  margin-bottom: 88px;
}

.mt-11 {
  margin-top: 88px;
}

.pb-11 {
  padding-bottom: 88px;
}

.pt-11 {
  padding-top: 88px;
}

.ps-11 {
  padding-left: 88px;
}

.pe-11 {
  padding-right: 88px;
}

.mb-12 {
  margin-bottom: 96px;
}

.mt-12 {
  margin-top: 96px;
}

.pb-12 {
  padding-bottom: 96px;
}

.pt-12 {
  padding-top: 96px;
}

.ps-12 {
  padding-left: 96px;
}

.pe-12 {
  padding-right: 96px;
}

.mb-13 {
  margin-bottom: 104px;
}

.mt-13 {
  margin-top: 104px;
}

.pb-13 {
  padding-bottom: 104px;
}

.pt-13 {
  padding-top: 104px;
}

.ps-13 {
  padding-left: 104px;
}

.pe-13 {
  padding-right: 104px;
}

.mb-14 {
  margin-bottom: 112px;
}

.mt-14 {
  margin-top: 112px;
}

.pb-14 {
  padding-bottom: 112px;
}

.pt-14 {
  padding-top: 112px;
}

.ps-14 {
  padding-left: 112px;
}

.pe-14 {
  padding-right: 112px;
}

.mb-15 {
  margin-bottom: 120px;
}

.mt-15 {
  margin-top: 120px;
}

.pb-15 {
  padding-bottom: 120px;
}

.pt-15 {
  padding-top: 120px;
}

.ps-15 {
  padding-left: 120px;
}

.pe-15 {
  padding-right: 120px;
}

.mb-16 {
  margin-bottom: 128px;
}

.mt-16 {
  margin-top: 128px;
}

.pb-16 {
  padding-bottom: 128px;
}

.pt-16 {
  padding-top: 128px;
}

.ps-16 {
  padding-left: 128px;
}

.pe-16 {
  padding-right: 128px;
}

.mb-17 {
  margin-bottom: 136px;
}

.mt-17 {
  margin-top: 136px;
}

.pb-17 {
  padding-bottom: 136px;
}

.pt-17 {
  padding-top: 136px;
}

.ps-17 {
  padding-left: 136px;
}

.pe-17 {
  padding-right: 136px;
}

.mb-18 {
  margin-bottom: 144px;
}

.mt-18 {
  margin-top: 144px;
}

.pb-18 {
  padding-bottom: 144px;
}

.pt-18 {
  padding-top: 144px;
}

.ps-18 {
  padding-left: 144px;
}

.pe-18 {
  padding-right: 144px;
}

.mb-19 {
  margin-bottom: 152px;
}

.mt-19 {
  margin-top: 152px;
}

.pb-19 {
  padding-bottom: 152px;
}

.pt-19 {
  padding-top: 152px;
}

.ps-19 {
  padding-left: 152px;
}

.pe-19 {
  padding-right: 152px;
}

.mb-20 {
  margin-bottom: 160px;
}

.mt-20 {
  margin-top: 160px;
}

.pb-20 {
  padding-bottom: 160px;
}

.pt-20 {
  padding-top: 160px;
}

.ps-20 {
  padding-left: 160px;
}

.pe-20 {
  padding-right: 160px;
}

.site-branding {
  margin-bottom: 32px;
}

.site-header {
  padding-top: 24x;
  padding-bottom: 24px;
}
.site-header .site-navigation ul.menu li a {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding-top: 0;
  padding-bottom: 0;
}

.city-province-menu ul li {
  list-style: none;
}

footer {
  display: flex;
  background-color: #2A2F36;
  color: #fff;
}
@media (max-width: 576px) {
  footer {
    flex-direction: column;
    row-gap: 32px;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
footer .col-logo {
  width: 40%;
}
footer .col-logo a .logo-footer {
  width: 288px;
}
footer .col-white {
  border-left: 1px solid #fff;
  height: 190px;
}
@media (max-width: 576px) {
  footer .col-white {
    display: none;
  }
}
footer .col-card {
  width: 30%;
}
footer .col-contact {
  width: 30%;
  text-align: right;
}
@media (max-width: 576px) {
  footer .col-contact {
    text-align: center;
  }
}
footer .col-contact .contact-footer {
  display: inline-block;
  padding: 4px;
  background-color: #fff;
  color: #2A2F36;
}
footer .col-contact .address-phone-footer p {
  margin-bottom: 0;
}
@media (max-width: 576px) {
  footer > div {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/*# sourceMappingURL=hello.css.map */
